body {
	background-color: #F5F5F5;
	color: #444;
}

form, iframe {
	margin: 0;
	padding: 0;
	border: none;
}

h2 {
	font-family: 'Open Sans Condensed';
}

h3 {
	font-family: 'Roboto';
	font-size: 11pt;
	font-weight: bold;
	color: #444;
}

.navbar-toggle {
	border-radius: 2px;
	border: 1px solid #ccc;
}

.icon-bar {
	background-color: #aaa;
}

/******/
/******/

.navbar {
	background-color: #fff;
	border-top: 8px solid #E83556;
	border-bottom: 1px solid #e0e0e0;
	height: auto;
	margin: 0;
}

.navbar a {
	transition: all 0.1s ease-in-out 0s;
	color: #333;
}

.navbar a:hover {
	color: #E83556;
}

.navbar-nav li.active {
	color: #E83556;	
}

.navbar-brand {
	font-size: 24px;
	font-family: Satisfy;
}

.navbar-nav {
	font-size: 11px;
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

/******/
/******/

.jumbotron {
	position: relative;
	margin-top: 58px;
	display: block;
	padding: 0;
	border-bottom: 1px solid #f0f0f0;
	font-family: Roboto;
	color: #222;
	background-color: #fafafa;
}

.jumbotron .photo {
	display: block;
	margin: 50px auto;
	width: 250px;
	height: 250px;
	border-radius: 200px;
	background: url('../img/nia.png') no-repeat;
	border: 6px solid #fff;
	box-shadow: 2px 2px 9px #eee;
}

.jumbotron .introduction {
	margin: 70px auto;
	margin-top: 95px;
}

.jumbotron h1 {
	margin: 10px 0 10px 0;
	font-size: 24pt;
	line-height: 44px;
	text-align: left;
	letter-spacing: .02em;
	font: normal normal normal 30px/1.4em 'Open Sans', serif;
}

.jumbotron p {
	margin: 0;
	font-size: 13pt;
	line-height: 30px;
	text-align: left;
	letter-spacing: .04em;
	color: #000;
}

.jumbotron .pullquote {
	color: #E83556;
}

/******/
/******/

#services .col-md-4 {
	padding: 14px 14px 40px 14px;
}

#services .box {
	padding: 8px 18px 10px 16px;
	background-color: #fafafa;
	border-radius: 8px;
}

#services .box h3 {
	margin: 12px 0 14px 0;
	letter-spacing: .08em;
	padding-bottom: 12px;
	border-bottom: 1px solid #eee;
}

#services .box p {
	line-height: 24px;
}

/******/
/******/

#clients h2 {
	margin: 30px 0 20px 0;
}

#clients .box {
	width: 100%;
	text-align: center;
	background-color: #EAE5E5;
	border: 1px solid #ddd;
	padding: 20px 20px;
}

div.owl-item > div {
	display:table-cell;
	vertical-align:middle;
}

/******/
/******/

#endorsements h2 {
	margin: 80px 0 20px 0;
}

#endorsements p.quote {
  font-size: 14pt;
  font-family: "Times New Roman";
  font-style: italic;
  line-height: 24pt;
  padding: 20px 50px;
  color: #333;
}

#endorsements p.source {
  text-align: right;
  padding: 0 40px;
  font-size: 10pt;
}

/******/
/******/

#rates h2 {
	margin: 40px 0 20px 0;
}

#rates table {
	border-collapse: collapse;
	margin: 40px 0 0 30px;
}

#rates td {
	border: 1px solid #e5e5e5;
	padding: 15px;
	white-space: nowrap;
	font: normal normal bold 13px 'Open Sans Condensed', serif;
}

#rates td:first-child {
	width: 160px;
	background-color: #eee;
}

#rates td:last-child {
	width: 180px;
	background-color: #fff;
}

#rates img {
	display: inline-block;
	position: absolute;
	top: 240px;
	left: 500px;
}

/******/
/******/

#contact h2 {
	margin: 40px 0 20px 0;
}

#contact p {
	margin: 0 0 30px 0;
}

#contact table {
	border-collapse: collapse;
	width: 90%;
}

#contact iframe {
	width: 100%;
	border: 1px solid #ccc;
	height: 304px;
}

#contact input {
	border-radius: 2px;
	background-color: #fff;
	color: #333;
	padding: 15px;
	margin: 0px 0px 8px;
	border: none;
	width: 100%;
}

#contact input[type="submit"] {
	color: #fff;
	background-color: rgb(97, 207, 211);
}

#contact textarea {
	border-radius: 2px;
	background-color: #fff;
	color: #333;
	padding: 15px;
	margin: 0px 0px 8px;
	border: none;
	width: 100%;
	min-height: 130px;
	resize: none;
	font-family: Arial;
	font-size: 13px;
}

#contact button {
	float: right;
	border-radius: 3px;
	background-color: rgb(97, 207, 211);
	color: #fff;
	padding: 15px;
	border: none;
	cursor: pointer;
	margin: 0px;
	font-family: Arial;
	font-size: 13px;
}

/******/
/******/

footer {
	margin: 50px 16px 110px 0;
	text-align: right;
}

/******/
/******/


@media only screen and (max-width: 992px) {

	.jumbotron {
		margin-top: 58px;
	}
	
	.jumbotron .photo {
		margin: 50px auto;
		margin-top: 70px;
	}
	
	.jumbotron .introduction {
		margin: 40px auto;
		margin-top: 30px;
	}
	.jumbotron h1 {
		text-align: center;
	}

	.jumbotron p {
		text-align: center;
	}
	
	#contact .secondcolumn {
		margin-top: 60px;
	}
}










