
body, html, p, form, ul, li, iframe {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	background-color: #EAE5E5;
	min-width: 740px;
	color: #606060;
}

a { 
	color: #468DBA;
	text-decoration: none;
}

input {
	border-radius: 2px;
	background-color: #fff;
	color: #333;
	padding: 15px;
	margin: 0px 0px 8px;
	border: none;
	width: 100%;
}

textarea {
	border-radius: 2px;
	background-color: #fff;
	color: #333;
	padding: 15px;
	margin: 0px 0px 8px;
	border: none;
	width: 100%;
	min-height: 130px;
	resize: none;

	font-family: Arial;
	font-size: 13px;
}

button {
	float: right;
	border-radius: 3px;
	background-color: rgb(97, 207, 211);
	color: #fff;
	padding: 15px;
	border: none;
	cursor: pointer;
	margin: 0px;
	font-family: Arial;
	font-size: 13px;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

.wrapper {	
	position: relative;
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1100px;
}

.clear {
	clear: both;
}

.centered {
	text-align: center;
}

.column {
	padding-right: 36px;
	position: relative;
}

.column2 { 
	float: left; 
	width: 50%; 
	display: block;
}

.column3 { 
	float: left; 
	width: 33%; 
	display: block;
}

.column4 { 
	float: left; 
	width: 25%; 
	display: block;
}

.column5 { 
	float: left; 
	width: 20%; 
	display: block;
}

.last-column {
	padding-right: 0;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

header {
	margin: 0 auto;
	position: relative;
	background-color: #FFF;
}

header #top-bar { 
	background-color: #606060;
	height: 15px;
}

header h1 {
	font: normal normal bold 50px/1.1em;
	font-family: 'Satisfy', cursive;
	padding: 18px 0 0 0;
	margin: 0;
	letter-spacing: -0.02em;
}

header h2 {
	font: normal normal normal 20px/1.2em 'Open Sans Condensed', serif;
	padding: 0 0 18px 2px;
	margin: 0;
}

header nav {
	position: absolute;
	right: 30px;
	top: 44px;
}

header nav ul {
	list-style: none;
}

header nav li { 
	font: normal normal bold 17px/1.2em 'Open Sans Condensed', serif;
	display: inline;
	margin-left: 40px;
	padding: 4px 8px;
	cursor: pointer;
	color: #777;
	border-bottom: 3px solid #ddd;
}

header nav li:hover {
	border-bottom: 3px solid #555;	
	color: #000;
}

header nav li.active {
	border-bottom: 3px solid #555;	
	color: #000;
}

header nav li:first-child {
	margin-left: 0;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

section {
	padding: 50px 20px;
	background-color: #EAE5E5;
	border-bottom: 1px solid #ccc;
	position: relative;
}

section:last-child {
	border: none;
}

section h1 {
	font: normal normal normal 36px/1.2em 'Open Sans Condensed', serif;
	margin: 0 0 40px 0;
	color: #444;
}

section h2 {
	font: normal normal normal 18px/1.4em 'Open Sans Condensed', serif;
	margin: 50px 0 8px 0;
	font-weight: bold;
}

section p {
	font: normal normal normal 11pt 'Open Sans', serif;
	line-height: 24px;
}

section td {
	font: normal normal normal 10pt 'Open Sans', serif;
	line-height: 24px;
}

section li {
	font: normal normal normal 11pt 'Open Sans', serif;
	line-height: 24px;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

#welcome h1 {
	margin: 0;
	padding: 50px 0 0 0;
	letter-spacing: -0.03em;
	color: #444;
	font: normal normal normal 30px/1.4em 'Open Sans', serif;
	text-align: left;
}

#welcome h2 {
	margin: 0;
	padding: 20px 0 0 0;
	letter-spacing: .02em;
	color: #666;
	font: normal normal normal 18px/1.4em 'Open Sans', serif;
}

#welcome .photo {
	float: left;
	margin: 0 50px 0 30px;
	width: 320px;
	height: 320px;
	border-radius: 200px;
	background: url('img/nia-web.png') no-repeat;
	display: inline;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

#services h2 {
	margin: 0 0 8px 0;
}

#services p {
	font-size: 10pt;
}

#services ul {
	margin: 20px 0 0 26px;
}

#services li {
	font-size: 10pt;
	line-height: 20px;
}

#services .tagged:after {
	content: '';
	border-right: 1px solid;
	position: absolute;
	top: 0;
	right: 20px;
	height: 98%;
	color: #ddd;
}

#services .spacer {
	margin: 90px 0;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

#clients ul {
	list-style: none;
	text-align: center;
	margin-top: 40px;
}

#clients li {
	display: inline;
	padding: 0 20px;
}

#clients li.c1 img { margin-bottom: 20px; } /* caterquip */
#clients li.c2 img { margin-bottom: 12px; } /* helloseo */
#clients li.c3 img { margin-bottom: 20px; } /* precedent */
#clients li.c4 img { margin-bottom: 31px; } /* sock */
#clients li.c5 img { margin-bottom:  0px; } /* stiwdio */
#clients li.c6 img { margin-bottom: 26px; } /* woodstream */

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

#endorsements p.quote {
	font-size: 14pt;
	font-family: "Times New Roman";
	font-style: italic;
	line-height: 24pt;
	padding: 20px 50px;
	color: #333;
}

#endorsements p.source {
	text-align: right;
	padding: 0 40px;
	font-size: 10pt;
}

#endorsements .column {
	padding: 0;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

#rates table {
	border-collapse: collapse;
	margin: 40px 0 0 30px;
}

#rates td {
	border: 1px solid #ccc;
	padding: 15px;
}

#rates td:first-child {
	width: 200px;
	background-color: #F3EEEE;
	font: normal normal bold 14px/1.4em 'Open Sans Condensed', serif;
}

#rates td:last-child {
	width: 160px;
	background-color: #FDF8F8;
	font: normal normal bold 14px/1.4em 'Open Sans Condensed', serif;
}

#rates img {
	display: inline-block;
	position: absolute;
	top: 265px;
	left: 530px;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

#contact p {
	margin: 0 0 30px 0;
}

#contact table {
	border-collapse: collapse;
	width: 90%;
}

#contact iframe {
	width: 100%;
	border: 1px solid #ccc;
	height: 300px;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

#finalthought .blockquote {
	text-align: right;
}

#finalthought .quote {

}

#finalthought .source {
	font-size: 12px;

}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */

footer {
	border-top: 2px solid #9A0008;
	min-height: 160px;
	background-color: #E83556;
	color: #fff;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */













